@import "top-nav";

*{
  box-sizing: border-box;
}
body{
font-family: sans-serif;
  margin: 0;
}
h1,h2,h3{
  margin:0;
}

.new{
  background: #069dad;
}
.btn{
      padding: .5rem 1rem;
      background: #666;
}

.middle-container{

  &__inner{
    max-width: 60rem;
    margin: auto;
  }
.group-title{
  margin-top: 3rem;
}
.card{
  padding:1rem;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.collection__item{
  display: flex;
  align-items: center;

  &-check{
background: red;
  margin-right: .5rem;
  }
}
  }
