    <h3 class="page-title">New Category</h3>

{{#simple-form onsubmit=(action "saveTodo") as |formValues|}}
    {{input type="text" value=formValues.title class="title-input"}}

    <button class="submit">submit</button>
{{/simple-form}}
