<div class="middle-container">
  <div class="middle-container__inner">
    <h3 class="page-title">Categories</h3>
    <div class="collection">

      {{#each model as |value|}}

        <div class="collection__item">
          {{#link-to "todo-group.edit" value.id class="edit-btn" }}
            edit
          {{/link-to}}
          <p class="todo-group__title">{{value.title}}</p>

          <button class="delete-btn" data-id= "{{value.id}}" {{ action "destroy" value}}>delete</button>

        </div>

      {{/each}}
    </div>
  </div>
</div>
