
<h1 class="page-title">Editing {{model.title}}</h1>

{{#simple-form startingValues=model onsubmit=(action "editSubmit" model) as |formValues|}}
{{input type="text" class="title-input" value=model.title}}
<button class="submit">Submit</button>
{{/simple-form}}
