<div class="top-container">
  <div class="top-container__inner">
    <div class="hamburger">E</div>
    <h2 class="top-title">Todos</h2>
    <nav class="top-nav">
      {{#each model as |group|}}
        {{#link-to "todo-group.edit" group class="top-nav__item"}}
          {{group.title}}
        {{/link-to}}
      {{/each}}

      {{#link-to 'todo-group.new' class="top-nav__item new-btn new" }}
        New Todo!
      {{/link-to}}
    </nav>
  </div>
</div>

{{outlet}}
